/* style.css */

body {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  width: 120%;
  max-width: 1300px;
  margin-left: auto; /* Centre le conteneur */
  margin-right: auto; /* Centre le conteneur */

}

.nav-vertical {

flex-direction: column;
width: 210px; /* Largeur de la barre de navigation */
height: 100vh; /* Hauteur totale de la vue */
background-color: #f4f4f4; /* Couleur de fond */
padding: 20px; /* Espacement interne */
position: fixed; /* Rend la barre de navigation fixe */
overflow-y: auto; /* Permet le défilement si la liste est longue */
z-index: 1000; /* Assurez-vous que ce nombre est plus élevé que les autres z-index de votre page */
}

.nav-vertical a {
padding: 10px;
margin: 5px 0; /* Espacement entre les liens */
text-decoration: none; /* Supprime le soulignement */
color: black; /* Couleur du texte */
}

.nav-vertical a:hover {
background-color: #ddd; /* Couleur de fond au survol */
}

/* Ajoutez ceci pour le contenu principal */
.content {
margin-left: 210px; /* Décale le contenu pour ne pas être caché par la barre de nav */
padding: 20px; /* Espacement interne pour le contenu */
flex-grow: 2; /* Prend le reste de l'espace disponible */
}

/* Other styles, ensure no conflicts */
  code {
    white-space: pre-wrap; /* Or choose pre if that's your preference */
  }
  span.smallcaps {
    font-variant: small-caps;
  }

